/* Page Head */

.pageHead {
    /* position: absolute; */
    /* width: 100vw; */
    /* height: 549px; */
    /* left: 0px; */
    /* top: 0px; */

    background: linear-gradient(180deg, #356f7a 32.29%, #f6f6f6 93.75%);
}

/* Header Title Image */

.title--image {
    /* position: absolute;
    width: 898px;
    height: 549px;
    left: 542px;
    top: 0px; */

    background: url(#);
}

/* Emily Kay Kline */

.title--name {
    /* position: absolute;
    width: 396px;
    height: 126px;
    left: 73px;
    top: 129px; */

    font-family: Mr De Haviland;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 126px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.02em;

    color: #da9c8f;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Voice-Over Artist */

.title--subtext {
    /* position: absolute;
    width: 189px;
    height: 29px;
    left: 319px;
    top: 213px; */

    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.02em;

    color: #d9b577;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Facebook / Twitter / Voice123 */

.title--socials {
    /* position: absolute;
    width: 542px;
    height: 21px;
    left: 0px;
    top: 523px; */

    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: -0.02em;

    color: #000000;
}
